<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867646528840-k08fjork0m9lo52f683hhs748a3ons3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867646528840-k08fjork0m9lo52f683hhs748a3ons3n</string>
	<key>API_KEY</key>
	<string>AIzaSyCYKsXTuT8HK3Pesb_y5Xj4WfpYgs9qSzw</string>
	<key>GCM_SENDER_ID</key>
	<string>867646528840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zimHeritageApp</string>
	<key>PROJECT_ID</key>
	<string>zim-edu-bridge</string>
	<key>STORAGE_BUCKET</key>
	<string>zim-edu-bridge.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867646528840:ios:4b0d6f9e5fa63a8078277d</string>
</dict>
</plist>
